<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-md-10">
      <h2>ツールの設定</h2>
      <div class="col-lg-7">
        <%= form_for(@account, {url: products_setup_path, method: 'post'}) do |f| %>
          <p class="lead">MWSアカウントの設定</p>
          <div class="form-group">
            <%= f.label :seller_id, "セラーID" %>
            <%= f.text_field :seller_id, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :aws_key, "AWSキー" %>
            <%= f.text_field :aws_key, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :secret_key, "秘密キー" %>
            <%= f.text_field :secret_key, class: 'form-control' %>
          </div>
          <p class="lead">通知条件の設定</p>
          <div class="form-group">
            <%= f.label :stock_border, "FBA在庫閾値（この在庫数以下の場合は通知しない）" %>
            <%= f.text_field :stock_border, class: 'form-control' %>
          </div>
          <p class="lead">中古相乗り監視設定</p>
          <div class="form-group">
            <label class="checkbox-inline"><%= f.check_box :used_check, class: 'checkbox-inline' %>中古相乗りを監視</label>
          </div>
          <br>
          <p class="lead">チャットワーク連携設定</p>
          <div class="form-group">
            <%= f.label :cw_api_token, "APIトークン" %>
            <%= f.text_field :cw_api_token, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cw_room_id, "自社相乗りルームID" %>
            <%= f.text_field :cw_room_id, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cw_room_id2, "他社相乗りルームID" %>
            <%= f.text_field :cw_room_id2, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :room_id3, "カート監視ルームID" %>
            <%= f.text_field :room_id3, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :room_id4, "FBA在庫監視ルームID" %>
            <%= f.text_field :room_id4, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cw_ids, "担当者ID" %>
            <%= f.text_field :cw_ids, class: 'form-control' %>
          </div>
          <div class="actions">
            <%= f.submit "設定する", {id: "setup_btn", onClick: 'alert("更新しました")'} %>
          </div>
        <% end %>
        <br>
        <%= form_tag('/products/reset', method:'get') do %>
          <div class="form-group">
            <%= submit_tag 'チェックのリセット', class:'btn btn-primary' %>
          </div>
        <% end %>
        <br>
        <br>
        <p class="lead">ASINの削除</p>
        <%= link_to 'ASIN全削除', '/products/delete', method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
